@page "/"


<div class="jumbotron" style="background: rgb(17,17,17);">
    <div class="row">
        <div class="col">
            <h1 style="color:white">Benevolence Financial Group</h1>
            <p style="color:white">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
            <RadzenButton Text="Talk with us" Icon="arrow_right_alt"></RadzenButton>
        </div>
        <div class-"col">
        </div>
    </div>
</div>



<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p style="text-align:center;font-size:50px;">Compare Home Loans</p>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label for="borrowing limit">I want to borrow *</label><input class="form-control" type="number" placeholder="" name="borrowing limit" /></div>
                </div>
                <div class="col">
                    <div class="form-group"><label for="property value">Property value *</label><input class="form-control" type="number" placeholder="" name="property value" /></div>
                </div>
                <div class="col">
                    <div class="form-group"><label for="Property purpose">Property purpose *</label><select id="inputPurpose" class="form-control"><option selected>Please select</option></select></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label for="Repayment type">Repayment type</label><input class="form-control" type="text" placeholder="" name="first_name" /></div>
                </div>
                <div class="col">
                    <div class="form-group"><label for="Loan type">Loan type</label><input class="form-control" type="text" placeholder="" name="last_name" /></div>
                </div>
                <div class="col">
                    <br />
                    <button type="submit" style="background: rgb(255,92,0);" class="form-control">COMPARE<span>&#8594;</span></button>
                </div>
            </div>
            *Required
            <hr />
        </form>
    </div>
</div>

<div class="features">
    <div class="row">
        <div class="col">
            <RadzenIcon Text="Hello" Icon="home" Style="
        background-color: whitesmoke;
        widthfont-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 3em;
        display: inline-block;
        width: 6em;
        height: 4em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        column-gap:1px;
        " />
        </div>
        <div class="col">
            <div class="col">
                <RadzenIcon Icon="attach_money" Style="        background-color: whitesmoke;
        widthfont-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 3em;
        display: inline-block;
        width: 6em;
        height: 4em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        column-gap: 4px;
    " />
            </div>
        </div>
        <div class="col">
            <div class="col">
                <RadzenIcon Icon="nature_people" Style="        background-color: whitesmoke;
        widthfont-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 3em;
        display: inline-block;
        width: 6em;
        height: 4em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    " />
            </div>
        </div>
        <div class="col">
            <div class="col">
                <RadzenIcon Icon="all_inclusive" Style="        background-color: whitesmoke;
        widthfont-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 3em;
        display: inline-block;
        width: 6em;
        height: 4em;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    " />
            </div>
        </div>
    </div>
</div>

