@page "/"


<div class="jumbotron" style="background: rgb(17,17,17);">
    <div class="row">
        <div class="col">
            <h1 style="border-color: rgb(255,255,255);">Benevolence Financial Group</h1>
            <p style="border-color: rgb(255,255,255);">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a class="btn btn-primary" role="button" style="background: rgb(255,92,0);">Talk to us<i class="fa fa-arrow-circle-right"></i></a>
            <p></p>
        </div>
        <div class="col" id="col2"><img src="dogs/architecture-1836070_1920.jpg" /></div>
    </div>
</div>



<div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Home Loan Comparisons</p>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label for="username"><strong>Username</strong></label><input class="form-control" type="text" placeholder="user.name" name="username" /></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" placeholder="user@example.com" name="email" /></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><label for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" placeholder="John" name="first_name" /></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><label for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" placeholder="Doe" name="last_name" /></div>
                    </div>
                    <input type="text" class="form-control" placeholder="USA" name="country" />
                </div>
                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
            </form>
        </div>
    </div>
